{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ message }}</h1>
            <p  id = "markerID">{{ markerID }}</p>
            <div class="alert alert-success"> 按下按钮获得您的marker,开始字符识别!(`・ω・´)
            <form action="/marker" method="post" onsubmit="return checkForm()">
                <button type="submit" class="btn btn-primary" id="Button">显示</button>
            </form>
            <p style="color:#000000;">请在蓝色方框内书书写字符!</p>
            <p style="color:#1241c4;">按下蓝色按钮识别所写字符;</p>
            <p style="color:#8b9228;">按下黄色按钮确认该字符;</p>
            <p style="color:#f70808;">按下红色按钮取消该字符;</p>
            <p style="color:#ffffff;">按下白色按钮确认字符识别密码.</p>
            </div>
            <canvas id="arucoCanvasOutput" style="margin-left:auto; margin-right:auto;"></canvas>
        </div>
    </div>
</div>
<script>
    function checkForm() {
        console.log(markerID);
        let markerNum = Number($('#markerID').get(0).innerText);
        console.log(markerNum);
        let markerImage = new cv.Mat();
        let dictionary = new cv.Dictionary(cv.DICT_6X6_250);
        cv.drawMarker(dictionary, markerNum, 200, markerImage, 1);
        cv.imshow("arucoCanvasOutput", markerImage);
        markerImage.delete(); dictionary.delete();
        return true;
    }
</script>
{% endblock %}